/* @group Accessibility Navigation - Used only when css is disabled */
.screenOnly { display: none; }

/* @end */
/* @group Body */
body { background: #fff; font-size: 12px; }

/* @end */
/* @group Wrapper */
.wrapper { width: 960px; margin: 0 auto; line-height: 1.4; }

/* @end */
/* @group Hgroup  */
h1, h2, h3, h4, h5, h6, p, pre, dl, ul, ol, legend, address, table, blockquote, section { margin: 0 0 20px 0; }

h1 { font-size: 24px; }

h2 { font-size: 20px; }

h3 { font-size: 18px; }

h4 { font-size: 16px; }

h5 { font-size: 14px; }

h6 { font-size: 12px; }

/* @end */
/* @group Blockquote */
blockquote { padding: 10px; background: #ccc; font-size: 14px; }
blockquote q { quotes: none; }

/* @end */
/* @group Lists */
ul ul, ol ol { margin: 10px 0 0 0; }

ul li, ol li { margin: 0 0 10px 30px; }

/* @end */
/* @group Definition List */
dl dt { margin: 10px 0 0; }

/* @end */
/* @group Links */
a { color: #0066CC; }
a:link { color: #0066CC; }
a:active { color: #0066CC; }
a:visited { color: #0066CC; }
a:hover { color: #000; }

a:link, a:active, a:visited { color: #0066CC; }

a:hover { color: #000; }

/* @end */
/* @group Pagination */
.pagination li { display: inline; list-style: none; margin: 0 10px 10px 0; }

.pagination li.disabled a { color: #ccc; }

/* @end */
/* @group Breadcrumbs */
.breadCrumbs li { display: inline; list-style: none; margin: 0 10px 10px 0; }

.breadCrumbs li.active a { color: #000; }

/* @end */
/* @group Navigation */
nav li { list-style: none; display: inline; margin: 0 10px 10px 0; }

/* @end */
/* @group Table */
table th, table td { padding: 5px; }

/* @end */
/* @group Forms */
form input, form label { display: inline; vertical-align: middle; }

/* @end */
/* @group Credits 

Thierry Koblentz
Paul Irish
Blueprintcss
Tripoli
Mollio
Diveintohtml5 - http://diveintohtml5.org

@end */
