// Set the global compass vars.
$legacy-support-for-ie6: false;
$legacy-support-for-ie7: true;
$legacy-support-for-ie8: true;
$legacy-support-for-mozilla: false;

// Import the normalize plugin
@import "modular-scale";
@import "normalize";

// Import Compass Mixins

@import "compass/css3";
@import "compass/typography";
@import "recipes/ui/gradient";
@import "recipes/ui/convex";

// Import Patterns

@import "patterns/variables";
@import "patterns/mixins";

@import "patterns/base";
@import "patterns/grids";
@import "patterns/typography";
@import "patterns/links";
@import "patterns/table";
@import "patterns/forms";
@import "patterns/lists";

// Site Specific

@import "site/site";