.row {
	max-width: $site-width;
	min-width: $min-site-width;
	width: $max-site-width;
	margin: 0 auto;
	@include box-sizing(border-box);
}

/* Nested Rows */

.row .row {
	width: auto;
	max-width: none;
	min-width: 0;
	margin: 0  (-$column-spacing);
}

.row:before, .row:after {
	content: "";
	display: table;
	clear: both;
}

/* IE 6 & 7 */

.row { *zoom: 1; }

.row-pad{
	padding-bottom:$column-spacing;
}

/* Columns */

.columns {
	float: left;
	min-height: 1px;
	padding:0 $column-spacing;
	position: relative;
	@include box-sizing(border-box);

	&.centered{
		float: none;
		margin: 0 auto;
	}
}

@for $i from 1 through $columns{
  .#{convert-number-to-word($i)}, .row .#{convert-number-to-word($i)}{
    width: gridCalc($i, $columns);
  }
}

// Creating .row .push-# classes

@for $i from 2 through $columns - 2 {
  .push-#{convert-number-to-word($i)} { left: gridCalc($i, $columns); }
  .pull-#{convert-number-to-word($i)} { right: gridCalc($i, $columns); }
}

/* Content */

img, object, embed { max-width: 100%; height: auto; }

/* Mobile */

@include respond-to(mobile) {

	.row {
		width: 100%;
		min-width: 0;
		margin-left: 0;
		margin-right: 0;
	}

	.columns, .row .columns {
		width: auto;
		float: none;
		margin-left: 0;
		margin-right: 0;
		right: auto;
		left: auto;
		padding-bottom:$column-spacing;
	}
}