table{
  width:100%;
  text-align:left;
  margin:0 0 $base-margin 0;
  border-collapse: collapse;    
} 

td, th{
  padding:$table-padding;
}

tbody td, thead th, tbody th{
  border-top:1px $table-cell-border-color solid;
}

thead th{
	border-top: none;
}

tr:hover td, tr:hover tbody > th{
  background-color:$table-hover-color;
}

// Zebra 

tbody tr:nth-child(odd){
  background:$table-zebra-color;
}

// Bordered Table

.table-bordered{
	border: 1px $table-cell-border-color solid;
	border-collapse: collapse;
}

// Dark Table 

.table-dark{
	background: #333;
	color: #fff;
	border: 1px #333 solid;
}

// Rounded Table

.table-rounded{
	border-collapse: separate;
	border: 1px $table-cell-border-color solid;
	@include border-radius();
}