---
title: Buttons
---

<h2><%= data.page.title %></h2>

<h1>Anchor buttons</h1>
<p>
  <a href="#" class="button">Click Me</a>
</p>

<h1>Button buttons</h1>
<p>
  <button class="button">Click me</button>
</p>