---
title: Lists
---

<h2><%= data.page.title %></h2>

<h3>Unordered List</h3>

<ul>
  <li>List item 1</li>
  <li>List item 2</li>
  <li>List item 3
    <ul>
      <li>List item 3</li>
      <li>List item 3</li>
      <li>List item 3</li>
      <li>List item 3</li>
    </ul>
  </li>
  <li>List item 4</li>
  <li>List item 5</li>
</ul>

<h3>Ordered List</h3>

<ol>
  <li>List item 1</li>
  <li>List item 2</li>
  <li>List item 3</li>
  <li>List item 4</li>
  <li>List item 5</li>
</ol>

<h3>Inline List</h3>

<ul class="list-inline">
  <li>Filter By: </li>
  <li><a href="#">Price</a></li>
  <li><a href="#">Age</a></li>
  <li><a href="#">Location</a></li>
</ul>

<h3>Links</h3>

<ul>
  <li><a href="#">List item 1</a></li>
  <li><a href="#">List item 2</a></li>
  <li><a href="#">List item 3</a></li>
  <li><a href="#">List item 4</a></li>
  <li><a href="#">List item 5</a></li>
</ul>

<h3>Definition List</h3>

<dl>
  <dt><strong>Definition Title</strong></dt>
  <dd>Definition Description</dd>
  <dt><strong>Definition Title</strong></dt>
  <dd>Definition Description</dd>
</dl>