---
title: Table
---

<h2><%= data.page.title %></h2>

<table>
  <thead>
    <tr>
      <th>Heading</th>
      <th>Heading</th>
      <th>Heading</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Body</td>
      <td>Body</td>
      <td>Body</td>
    </tr>
    <tr>
      <td>Body</td>
      <td>Body</td>
      <td>Body</td>
    </tr>
    <tr>
      <td>Body</td>
      <td>Body</td>
      <td>Body</td>
    </tr>
  </tbody>
</table>